<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="submit(f)"
  >
    <mat-form-field hintLabel="Enter a valid E-Mail">
      <input
        ngModel
        name="email"
        type="email"
        matInput
        placeholder="E-Mail"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >E-Mail is required</mat-error
      >
      <mat-error *ngIf="emailInput.hasError('email')"
        >Invalid E-Mail address</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        ngModel
        name="password"
        type="password"
        matInput
        placeholder="Password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end"> {{ pwInput.value?.length }} /6</mat-hint>
      <mat-error *ngIf="pwInput.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="pwInput.hasError('minlength')"
        >Password must be at least 6 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        ngModel
        name="confirmPassword"
        type="password"
        matInput
        placeholder="Confirm Password"
        required
        #confirmInput="ngModel"
      />
      <mat-error *ngIf="confirmInput.hasError('required')"
        >Confirm Password is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        ngModel
        name="birthDate"
        matInput
        [matDatepicker]="picker"
        placeholder="Birth Date"
        [max]="maxDate"
        [min]="minDate"
        required
        #birthInput="ngModel"
      />
      <mat-error *ngIf="birthInput.hasError('required')"
        >Birth date is required</mat-error
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox color="primary" ngModel name="agree" required #agreeInput="ngModel"
      >Agree to our terms and conditions
    </mat-checkbox>
    <!-- <mat-error *ngIf="agreeInput.hasError('required') && agreeInput.touched"
      >You Must agree to our terms and conditions</mat-error
    > -->
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
